@charset "ISO-8859-1";

body.home
{
	width: 1000px; height: 1000px; background-color: #eed; margin: auto;
}
div.homeBase
{
	width: 1000px;background-color: #eee;padding-left: 10px;padding-right: 10px;
}
div.downPadding10
{
	padding-bottom: 10px;
}
div.colorDarkBlack
{
	background-color: #eed;
}
h5.categories
{
	padding-left: 3px; color:white;cursor: pointer;font-family: "Comic Sans MS", cursive, sans-serif;
}
img.advertise
{
	height: 170px; width: 1000px;
}
span.headerNx 
{ 
	font-family: "Comic Sans MS", cursive, sans-serif; font-size: 35px;color:blue;font-weight: bold;
	display: inline-block; cursor: pointer; text-decoration : none;
}
span.headerDial 
{ 	
	font-family: "Comic Sans MS", cursive, sans-serif; font-size: 35px;color:red;font-weight: bold;
	display: inline-block; cursor: pointer; text-decoration : none;
}
span.headerNxDir
{
	font-family: "Comic Sans MS", cursive, sans-serif; font-size: 11px;color:gray;font-weight: bold;
	cursor: pointer; text-decoration : none
}
span.colorRed
{
	color:red;
}
span.colorBlue
{
	color:blue;
}
span.colorBlack
{
	color:black;
}
span.underline
{
	text-decoration: underline;
}
a.underline
{
	text-decoration: underline;
}
marquee.slide
{
	font-family: "Comic Sans MS", cursive, sans-serif; width: 80%; text-align: center;
}
marquee.news
{
	font-family: "Comic Sans MS", cursive, sans-serif;
}
div.width30
{
	font-family: "width: 80%;
}



.even {
 background-color: #ccc;
}
.odd {
 background-color: #DCDCDC;
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


  map, div[map] {display:block; width:450px; height:300px;}

  #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
  
  
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
        
   